@import "variabler";

body{
    background: $off-white;
}
a{
    text-decoration: none;
    color: $off-white;
}
.wrapper{
    max-width: 1400px;
    padding: 1rem 2rem;
    margin: 0 auto;
}
.highlight{
    color: $orange;
}

svg{
    color: $orange;
    stroke-width: 1;
}
/* Navbar / Intro Section */
.navbar{
    font-family: $inter-font;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

    .logo{
        font-family: $inter-font;
        font-weight: 900;
        font-size: 24px;
    }

    .nav-menu{
        cursor: pointer;
        display: none;

        @media screen and (max-width: 992px){
            display: flex;
        }
    }

    .nav-links{
        list-style: none;
        display: flex;

        @media screen and (max-width: 992px){
            display: none;
        }

        li{
            padding: 0;
            margin: 0 1em;
        }
        .nav-link{
            color: $off-white;
            font-family: $roboto-font;
            font-weight: 300;
            font-size: 13px;
            text-transform: uppercase;
            opacity: 0.7;
            transition: 200ms ease-in-out;

            &:hover{
                opacity: 1;
            }
        }
        .active{
            font-weight: 400;
            opacity: 1;
        }
    }
    .dropdown-menu{
        display: none;
        position: absolute;


        .dropdown-content{
            display: flex;
            flex-direction: column;
            padding: 1em 0;

            .dropdown-link{
                color: rgba($color: $off-white, $alpha: 0.7);
                font-size: 13px;
                display: block;
                border-left: 1px solid rgba($color: $off-white, $alpha: 0.5);
                padding: 0.6em 1em;
                transition: 200ms ease-in-out;

                &:hover{
                    color: $off-white;
                    border-color: $off-white;
                }

            }
        }

        
    }


}

.intro-section, .subheader{
    background: linear-gradient(to bottom, rgba($navy, 0.9), rgba($navy, 0.9)), url('../img/bg-pattern.jpg');
    background-position: center center;
    background-size: cover;
    color: $off-white;
}
.intro-content{
    padding: 6em 0 8em;
    max-width: 600px;

    h1{
        font-size: 56px;
    }
    p{
        line-height: 1.4;
        font-size: 18px;
    }

}
/* Feature section */
.front-features{
    padding: 4em 0;
    background: $white;

    .wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media screen and (max-width: 992px) {
            grid-template-columns: 1fr;
        }

        div{
            flex-direction: column;
            text-align: center;

            .feature-overskrift{
                text-transform: uppercase;
                font-family: $inter-font;
                font-weight: 900;
                font-size: 16px;
            }
            .feature-lead{
                font-size: 16px;
                font-weight: 300;
                padding: 0 1.5em;
            }
        }
    }


    svg{
        width: 70px;
        height: auto;
    }
}



h1,h2,h3 {
    font-family: $inter-font;
    margin-bottom: 0;
    font-weight: 900;
}

p {
    font-family: $roboto-font;
    font-weight: 300;
    line-height: 1.6;
}


/* Ydelser */
.webudvikling {
    .wrapper {
        .segment {
            p {
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .webudvikling, .markedsføring {
        .wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 25px;

            .segment {
                grid-column: (1);
            }

            .segment:nth-of-type(2) {
                grid-column: (2);
            }

            .segment:nth-of-type(3) {
                grid-column: (3);
            }
        }
    }
}







/* Abdullah CSS */

// Om os css //
.sectionomos{
    .wrapper{
        max-width: 800px;

      h1{
          text-align: center;
          margin-bottom: 40px;
      }
    }
}
  
.kerneverdier{
    background: $navy;
  
    h1,h2,h3,p{
      margin: 0;
    }
  
    .wrapper{
      color: $off-white;
        display: flex;
        justify-content: center;

      .kerneverdicontainer{
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(7, auto);
          grid-gap: 50px;
          padding: 50px 0;

          @media screen and (min-width: 992px) {
              grid-template-columns: auto repeat(3, 1fr);
              grid-template-rows: repeat(2, 1fr);

              .kerne-item1{

              }

              .kerne-item5{
                  grid-column-start: 2;
              }
          }

          .kerne-item{
              max-width: 400px;

              h3{
                  margin-bottom: 10px;
              }

              svg{
                  color: $orange;
                  width: 40px;
                  height: auto;

                  @media screen and (min-width: 992px){
                      margin-right: 10px;
                  }
              }

              @media screen and (min-width: 992px) {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
              }

              .kernetekst{
                  width: fit-content;
              }
          }
      }
    }
}

.offerbg{
    background: $off-white;

    .orangeline{
        background-color: $orange;
        width: 80px;
        height: 4px;
        margin: 30px 0 20px;
    }

    .wrapper{
        h2{
            margin: 0 0 5px;
            font-size: 2em;
        }
    }
}

/* TEAM-side */

.team {
    margin-bottom: 0.17em;
  .wrapper {
      @media screen and (min-width: 992px) {
      }

    h1 {
        font-family: $inter-font, $roboto-font;
        color: $navy;
        font-size: 37px;
        text-align: center;
        margin-bottom: 40px;

        .highlight {
            color: $orange;
        }
    }


    .teamprofiles {
        display: flex;
        flex-direction: column;
        align-items: center;

      .profil {
        margin-bottom: 20px;

        .textprofil {
          position: absolute;
          padding-left: 15px;
          padding-top: 258px;
          z-index: 1;

          h1 {
            font-family: $roboto-font, $inter-font;
            color: $white;
            margin: 0;
            font-size: 34px;
            text-align: left;
          }


          p {
            font-family: $roboto-font, $inter-font;
            color: $white;
            margin-top: 0;
            font-size: 19px;
          }
        }

        .gradientimg {
          width: 328px;
          height: 334px;
          position: absolute;
          background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(188, 188, 191, 0.31), #1F1F29);
          /*
          background-image: linear-gradient(to bottom, transparent 50%, black 100%);
          */
        }

        img {
          width: 328px;
        }
      }
    }
  }
}


.praktik {
  background: $white;
  width: 100%;

  .ompraktik {
    h2 {
      font-family: $roboto-font;
      font-size: 32px;

      .highlight {
        color: $orange;
      }
    }
    h3 {
      font-family: $roboto-font;
      font-size: 24px;
    }

    p {
      font-family: $roboto-font;
      font-size: 18px;
      margin: 26px 0 0 0;

      .highlight {
        color: $orange;

      }
    }
  }
}

