@charset "UTF-8";
/* Farver */
/* Utility */
body {
  background: #f5f5f5; }

h1, h2, h3 {
  font-family: "Inter UI", sans-serif;
  margin-bottom: 0;
  font-weight: 900; }

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

a {
  text-decoration: none;
  color: #f5f5f5; }

.wrapper {
  max-width: 1400px;
  padding: 1rem 2rem;
  margin: 0 auto; }

.highlight {
  color: #ff7f50; }

svg {
  color: #ff7f50;
  stroke-width: 1; }

hr {
  width: 80px;
  border: 2px solid #ff7f50;
  background: #ff7f50; }

.btn {
  border: 3px solid #ff7f50;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  padding: 1em 3.5em;
  border-radius: 50px;
  font-family: "Inter UI", sans-serif;
  color: #ff7f50;
  font-size: 14px;
  font-weight: 900;
  transition: 300ms; }
  @media screen and (max-width: 992px) {
    .btn {
      display: block; } }
  .btn:hover {
    color: #f5f5f5;
    background: #ff7f50; }
  .btn:active {
    color: #f5f5f5;
    background: #ff5a1d;
    border-color: #ff5a1d;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15); }

.gradient {
  position: relative; }
  .gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(31, 31, 41, 0.2), rgba(31, 31, 41, 0.8)); }

/* Navbar / Intro Section */
.navbar {
  font-family: "Inter UI", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0; }
  @media screen and (max-width: 992px) {
    .navbar {
      flex-wrap: wrap; } }
  .navbar .logo {
    font-family: "Inter UI", sans-serif;
    font-weight: 900;
    font-size: 24px; }
  .navbar .nav-menu {
    cursor: pointer;
    display: none; }
    .navbar .nav-menu svg {
      color: #f5f5f5;
      width: 28px;
      height: auto; }
    @media screen and (max-width: 992px) {
      .navbar .nav-menu {
        display: flex; } }
  .navbar .nav-links {
    list-style: none;
    display: flex;
    text-align: right; }
    @media screen and (max-width: 992px) {
      .navbar .nav-links {
        display: none;
        width: 100%; } }
    .navbar .nav-links li {
      padding: 0;
      margin: 0 1em; }
      @media screen and (max-width: 992px) {
        .navbar .nav-links li {
          margin: 0.7em 0.5em; } }
    .navbar .nav-links .nav-link {
      color: #f5f5f5;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 15px;
      text-transform: uppercase;
      opacity: 0.7;
      transition: 200ms ease-in-out; }
      .navbar .nav-links .nav-link:hover {
        opacity: 1; }
      .navbar .nav-links .nav-link svg {
        color: white;
        width: 13px;
        height: 13px; }
    .navbar .nav-links .active {
      font-weight: 400;
      opacity: 1; }
  .navbar .dropdown-menu {
    display: none;
    position: absolute; }
    @media screen and (max-width: 992px) {
      .navbar .dropdown-menu {
        position: relative; } }
    .navbar .dropdown-menu .dropdown-content {
      display: flex;
      flex-direction: column;
      padding: 1em 0; }
      .navbar .dropdown-menu .dropdown-content .dropdown-link {
        color: rgba(245, 245, 245, 0.7);
        font-size: 13px;
        text-transform: uppercase;
        display: block;
        border-left: 1px solid rgba(245, 245, 245, 0.5);
        padding: 0.6em 1em;
        transition: 200ms ease-in-out; }
        @media screen and (max-width: 992px) {
          .navbar .dropdown-menu .dropdown-content .dropdown-link {
            padding: 0.6em 1em;
            border-left: none;
            border-right: 1px solid rgba(245, 245, 245, 0.5);
            font-size: 15px; } }
        .navbar .dropdown-menu .dropdown-content .dropdown-link:hover {
          color: #f5f5f5;
          border-color: #f5f5f5; }

.intro-section, .subheader {
  background: linear-gradient(to bottom, rgba(31, 31, 41, 0.9), rgba(31, 31, 41, 0.9)), url("../img/bg-pattern.jpg") center center;
  background-size: cover;
  color: #f5f5f5; }

.intro-content {
  padding: 6em 0 8em;
  max-width: 600px; }
  .intro-content h1 {
    font-size: 56px; }
  .intro-content p {
    line-height: 1.4;
    font-size: 18px; }

.subheader .intro-content {
  text-align: center;
  max-width: 100%; }
  .subheader .intro-content h1 {
    font-size: 56px;
    text-transform: uppercase; }

/* Feature section */
.front-features {
  padding: 3em 0;
  background: #fff; }
  .front-features .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    padding: 4em 0; }
    @media screen and (max-width: 992px) {
      .front-features .wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        padding: 0em 2em; } }
    .front-features .wrapper div {
      flex-direction: column;
      text-align: center; }
      .front-features .wrapper div .feature-overskrift {
        text-transform: uppercase;
        font-family: "Inter UI", sans-serif;
        font-weight: 900;
        font-size: 16px; }
      .front-features .wrapper div .feature-lead {
        font-size: 16px;
        font-weight: 300;
        padding: 0 1.5em; }
  .front-features svg {
    width: 70px;
    height: auto; }

/* Ydelser - section */
.ydelser-section {
  background: #1f1f29;
  padding: 3em 0;
  color: #f5f5f5;
  position: relative;
  z-index: 0; }
  .ydelser-section .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 50px;
         column-gap: 50px;
    padding: 4em 0; }
    @media screen and (max-width: 992px) {
      .ydelser-section .wrapper {
        padding: 0em 2em;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr; } }
  .ydelser-section h2 {
    text-transform: uppercase;
    font-size: 1.75em; }
  .ydelser-section .ydelses-billede {
    transition: 200ms ease-in-out;
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.4); }
    .ydelser-section .ydelses-billede h3 {
      position: absolute;
      z-index: 10;
      bottom: 15px;
      left: 15px;
      text-transform: uppercase; }
    .ydelser-section .ydelses-billede:hover {
      transform: scale(0.99);
      transition: 200ms ease-in-out;
      box-shadow: 0px 0px 20px -8px rgba(255, 127, 80, 0.4); }
  .ydelser-section img {
    max-width: 100%;
    margin-top: 1.5em;
    height: auto;
    z-index: 1;
    display: block;
    position: relative; }

/* Møde section */
.mode-section {
  background: #fff;
  padding: 3em 0; }
  .mode-section .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
    grid-template-columns: 1fr 1.5fr;
    -moz-column-gap: 50px;
         column-gap: 50px;
    max-width: 1200px;
    padding: 4em 0; }
    @media screen and (max-width: 992px) {
      .mode-section .wrapper {
        padding: 0em 2em;
        -ms-grid-columns: none;
        grid-template-columns: none;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        row-gap: 50px; } }
  .mode-section img {
    max-width: 100%; }
  .mode-section hr {
    margin: auto 0; }
  .mode-section h2 {
    font-size: 1.75em;
    text-transform: uppercase; }
  .mode-section p {
    max-width: 640px; }

/* Ydelser - Stephanie */
.webudvikling .wrapper hr, .markedsføring .wrapper hr, .hosting .wrapper hr {
  margin: 0; }

.webudvikling .wrapper .segment p, .markedsføring .wrapper .segment p, .hosting .wrapper .segment p {
  margin-bottom: 40px; }

.webudvikling .image-webudvikling, .markedsføring .image-webudvikling, .hosting .image-webudvikling {
  background: url("../img/udvikling.jpg") center center;
  background-size: cover;
  height: 340px;
  margin-bottom: 30px; }

.webudvikling .image-analyse, .markedsføring .image-analyse, .hosting .image-analyse {
  background: url("../img/analyse.jpg") center center;
  background-size: cover;
  height: 340px;
  margin-bottom: 30px; }

.webudvikling .wrapper {
  padding-top: 3rem; }

@media screen and (min-width: 992px) {
  .webudvikling .wrapper, .markedsføring .wrapper, .hosting .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    margin: 50px auto; }
    .webudvikling .wrapper hr, .markedsføring .wrapper hr, .hosting .wrapper hr {
      margin-bottom: 10px; }
    .webudvikling .wrapper .segment, .markedsføring .wrapper .segment, .hosting .wrapper .segment {
      -ms-grid-column: 1;
      grid-column: 1; }
      .webudvikling .wrapper .segment p, .markedsføring .wrapper .segment p, .hosting .wrapper .segment p {
        margin-bottom: 0; }
    .webudvikling .wrapper .segment:nth-of-type(2), .markedsføring .wrapper .segment:nth-of-type(2), .hosting .wrapper .segment:nth-of-type(2) {
      -ms-grid-column: 2;
      grid-column: 2; }
      .webudvikling .wrapper .segment:nth-of-type(2) p, .markedsføring .wrapper .segment:nth-of-type(2) p, .hosting .wrapper .segment:nth-of-type(2) p {
        margin-bottom: 0; }
    .webudvikling .wrapper .segment:nth-of-type(3), .markedsføring .wrapper .segment:nth-of-type(3), .hosting .wrapper .segment:nth-of-type(3) {
      -ms-grid-column: 3;
      grid-column: 3; }
      .webudvikling .wrapper .segment:nth-of-type(3) p, .markedsføring .wrapper .segment:nth-of-type(3) p, .hosting .wrapper .segment:nth-of-type(3) p {
        margin-bottom: 0; }
  .webudvikling .image-webudvikling, .markedsføring .image-webudvikling, .hosting .image-webudvikling {
    background: url("../img/udvikling.jpg") center center;
    background-size: cover;
    height: 400px;
    margin-bottom: 35px; }
  .webudvikling .image-analyse, .markedsføring .image-analyse, .hosting .image-analyse {
    background: url("../img/analyse.jpg") center -350px;
    background-size: cover;
    height: 400px;
    margin-bottom: 35px; }
  .webudvikling .wrapper {
    padding-top: 1rem; } }

/* Abdullah CSS */
.sectionomos {
  padding: 3em 0; }
  .sectionomos .wrapper {
    max-width: 1200px;
    display: -ms-grid;
    display: grid;
    padding: 4em 0;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr; }
    @media screen and (max-width: 992px) {
      .sectionomos .wrapper {
        padding: 0em 2em;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 20px; } }
    .sectionomos .wrapper h2 {
      font-size: 1.75em;
      text-transform: uppercase; }
    .sectionomos .wrapper hr {
      margin: auto 0; }

.kerneverdier {
  background: #1f1f29;
  padding: 3em 0; }
  .kerneverdier h1, .kerneverdier h2, .kerneverdier h3, .kerneverdier p {
    margin: 0; }
  .kerneverdier h2 {
    font-size: 1.75em;
    text-transform: uppercase; }
  .kerneverdier .wrapper {
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 4em 0; }
    @media screen and (max-width: 992px) {
      .kerneverdier .wrapper {
        padding: 0em 2em; } }
    .kerneverdier .wrapper .kerneverdicontainer {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: (auto)[7];
      grid-template-rows: repeat(7, auto);
      grid-gap: 50px;
      padding: 50px 0; }
      @media screen and (min-width: 992px) {
        .kerneverdier .wrapper .kerneverdicontainer {
          -ms-grid-columns: auto (1fr)[3];
          grid-template-columns: auto repeat(3, 1fr);
          -ms-grid-rows: (1fr)[2];
          grid-template-rows: repeat(2, 1fr); }
          .kerneverdier .wrapper .kerneverdicontainer .kerne-item5 {
            -ms-grid-column: 2;
                grid-column-start: 2; } }
      .kerneverdier .wrapper .kerneverdicontainer .kerne-item {
        max-width: 400px; }
        .kerneverdier .wrapper .kerneverdicontainer .kerne-item h3 {
          margin-bottom: 10px; }
        .kerneverdier .wrapper .kerneverdicontainer .kerne-item svg {
          color: #ff7f50;
          width: 40px;
          height: auto; }
          @media screen and (min-width: 992px) {
            .kerneverdier .wrapper .kerneverdicontainer .kerne-item svg {
              margin-right: 10px; } }
        @media screen and (min-width: 992px) {
          .kerneverdier .wrapper .kerneverdicontainer .kerne-item {
            display: flex;
            flex-direction: row;
            align-items: flex-start; } }
        .kerneverdier .wrapper .kerneverdicontainer .kerne-item .kernetekst {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content; }

.offerbg {
  background: #f5f5f5;
  padding: 3em 0; }
  .offerbg hr {
    margin: auto 0; }
  .offerbg .wrapper {
    padding: 4em 0;
    max-width: 800px; }
    @media screen and (max-width: 992px) {
      .offerbg .wrapper {
        padding: 0em 2em; } }
    .offerbg .wrapper h2 {
      font-size: 1.75em;
      max-width: 400px; }
    .offerbg .wrapper p {
      max-width: 600px; }

/* TEAM-side */
/* af sara */
.team {
  padding: 3em 0; }
  .team .wrapper {
    padding: 4em 0; }
    @media screen and (max-width: 992px) {
      .team .wrapper {
        padding: 0 2em; } }
    .team .wrapper h2 {
      color: #1f1f29;
      font-size: 1.75em;
      text-transform: uppercase;
      margin-bottom: 2rem; }
    .team .wrapper .teamprofiles {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      -moz-column-gap: 20px;
           column-gap: 20px; }
      @media screen and (max-width: 992px) {
        .team .wrapper .teamprofiles {
          -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
          row-gap: 20px; } }
      .team .wrapper .teamprofiles .gradient {
        transition: 200ms ease-in-out; }
        .team .wrapper .teamprofiles .gradient:hover {
          transform: scale(0.98);
          transition: 200ms ease-in-out;
          box-shadow: 0px 12px 20px -15px rgba(0, 0, 0, 0.3); }
        .team .wrapper .teamprofiles .gradient img {
          display: block;
          max-width: 100%;
          height: auto; }
        .team .wrapper .teamprofiles .gradient .navn {
          position: absolute;
          z-index: 2;
          bottom: 40px;
          left: 20px;
          margin: 0;
          font-size: 1.75em;
          font-family: "Inter UI", sans-serif;
          font-weight: 900;
          color: #f5f5f5;
          text-transform: uppercase; }
        .team .wrapper .teamprofiles .gradient .title {
          position: absolute;
          text-transform: uppercase;
          bottom: 20px;
          left: 20px;
          z-index: 2;
          color: #f5f5f5;
          opacity: 0.7;
          margin: 0; }

.praktik {
  background: #fff;
  padding: 3em 0; }
  .praktik hr {
    margin: 0; }
  .praktik .wrapper {
    padding: 4em 0;
    max-width: 1000px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr; }
    @media screen and (max-width: 992px) {
      .praktik .wrapper {
        padding: 0em 2em;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr; } }
    .praktik .wrapper h2 {
      font-size: 1.75em; }
    .praktik .wrapper h3 {
      font-size: 1.5em; }
    .praktik .wrapper p {
      max-width: 600px;
      font-size: 1em; }

/* kontakt-side */
/* af sara */
.kontakt {
  padding: 3em 0; }
  .kontakt .wrapper {
    padding: 4em 0; }
    @media screen and (max-width: 992px) {
      .kontakt .wrapper {
        padding: 0 2em; } }
    .kontakt .wrapper .kontakttekst {
      padding-top: 20px; }
      .kontakt .wrapper .kontakttekst p {
        padding-bottom: 15px; }
      .kontakt .wrapper .kontakttekst h2 {
        font-size: 1.75em; }
      .kontakt .wrapper .kontakttekst h3 {
        font-size: 1.5em; }
    .kontakt .wrapper .kontaktinfo p {
      padding: 0; }
    .kontakt .wrapper .kontaktinfo .kontaktinfo-item {
      display: flex;
      margin-top: -10px; }
      .kontakt .wrapper .kontaktinfo .kontaktinfo-item svg {
        padding-top: 16px; }
      .kontakt .wrapper .kontaktinfo .kontaktinfo-item p {
        padding-left: 12px; }
    .kontakt .wrapper .kontaktformular {
      margin-top: 35px; }
      .kontakt .wrapper .kontaktformular form p {
        font-family: "Roboto", sans-serif;
        margin: 0 0 -11px 0; }
      .kontakt .wrapper .kontaktformular form input {
        border: 3px solid #1f1f29;
        width: 95%;
        height: 35px;
        margin-bottom: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        padding-left: 10px;
        padding-right: 10px; }
      .kontakt .wrapper .kontaktformular form textarea {
        width: 95%;
        height: 85px;
        border: 3px solid #1f1f29;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        padding: 10px; }

.kontaktmap {
  background: #fff; }
  .kontaktmap .wrapper .maptekst {
    text-align: center;
    padding-top: 20px; }
    .kontaktmap .wrapper .maptekst svg {
      color: #ff7f50;
      width: 40px;
      height: auto; }
    .kontaktmap .wrapper .maptekst p {
      font-family: "Inter UI", sans-serif;
      font-weight: 900;
      font-size: 22px;
      margin-top: 5px; }

@media screen and (min-width: 992px) {
  .kontakt .wrapper {
    display: flex;
    flex-direction: row; }
    .kontakt .wrapper .kontakttekst {
      width: 50%; }
      .kontakt .wrapper .kontakttekst p {
        padding-right: 100px;
        padding-top: 15px; }
    .kontakt .wrapper .kontaktinfo .kontaktinfo-item {
      display: flex;
      margin-top: -25px; }
      .kontakt .wrapper .kontaktinfo .kontaktinfo-item svg {
        padding-top: 32px; }
      .kontakt .wrapper .kontaktinfo .kontaktinfo-item p {
        padding-left: 12px; }
    .kontakt .wrapper .kontaktformular {
      width: 50%;
      padding-top: 30px; } }

/* Footer Stephanie */
.footer {
  background: #1f1f29;
  color: #f5f5f5;
  padding-top: 3em; }
  .footer .wrapper .logo {
    font-family: "Inter UI", sans-serif;
    font-weight: 900;
    font-size: 24px; }
  .footer .wrapper p {
    margin-bottom: 20px;
    max-width: 600px; }
  .footer .wrapper .footer-wrapper {
    display: flex;
    margin-bottom: 20px; }
    .footer .wrapper .footer-wrapper p {
      margin: 0 0 0 20px; }
  .footer .wrapper svg {
    color: #f5f5f5; }
  .footer .some-footer {
    background: #16161d;
    margin-top: 2em; }
    .footer .some-footer .wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0.25em 3em; }
    .footer .some-footer .copyright-box .copyright {
      font-size: 12px; }
    .footer .some-footer .some-box svg {
      width: 15px;
      height: auto;
      padding: 0 5px;
      margin-top: 0.8em;
      color: #f5f5f5; }

@media screen and (min-width: 992px) {
  .footer .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr); }
    .footer .wrapper .footer-logo {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-column: 1/span 3; }
      .footer .wrapper .footer-logo .logo {
        font-size: 28px; }
    .footer .wrapper .footer-info {
      -ms-grid-column: 4;
      grid-column: 4;
      margin-top: 25px; }
      .footer .wrapper .footer-info .footer-wrapper {
        justify-content: flex-end; } }

/*# sourceMappingURL=style.css.map */
